<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
xmlns:sec="http://www.thymleaf.org/thymleaf-extras-spring-springsecurity3">
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link th:href="@{/css/style.css}" rel="stylesheet">
  
  
  <script>
  const toggleSidebar=()=>{
	  if($(".sidebar").is(":visible")){
	 
	     // true
	    
	     $(".sidebar").css("display","none");
	     $(".content " ).css("margin-left","0%");
	  }else{
	    // false
	    
	     $(".sidebar").css("display","block");
	     $(".content").css("margin-left","20%");
  }
  };
  </script>

<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark " style="background:#800080 !important">
	<a class="navbar-brand" href="#">Library Management System</a>
	
	<button class="navbar-toggler" type ="button" data-toggle = "collapse "
		   data-target = " #navbarSupportedContent "
		   aria-controls = "navbar SupportedContent " aria-expanded = " false "
		   aria-label = " Toggle navigation " >
		   <span class = " navbar-toggler-icon"></span>
	</button>
	
	<div class = "collapse navbar-collapse" id="navbarSupportedContent">
		   <ul class = "navbar-nav ms-auto text-uppercase" >
		       		<li class = "nav-item active" ><a class="nav-link" th:href="@{/}">Books</a>
		       		<li class = "nav-item active" ><a  class="nav-link" th:href="@{/books_issued}">Books issued</a>
		       		
     				<li class = "nav-item active" ><a  class="nav-link" th:href="@{/profile}">profile</a>
     				<li class = "nav-item active" ><a  class="nav-link" th:href="@{/settings}">change password</a>
					<li  class = "nav-item active"  sec:authorize="isAuthenticated()"><a  class="nav-link" th:href="@{/logout}" tabindex = "-1" >logout</a></li>
     			
			</ul >

</div >
</nav>
<div  class="sidebar">
<span onclick="toggleSidebar()" class = "crossBtn">&times;</span>

	<a  th:href="@{/}" class="item"><i class="fa-sharp fa-solid fa-book"></i>Books</a>
	<a  th:href="@{/books_issued}" class="item"><i class="fa-solid fa-paperclip"></i>Books Issued</a>
	<a   th:href="@{/profile}" class="item"><i class="fa-solid fa-user"></i>Your Profile</a>
	<a  th:href="@{/settings}" class="item"><i class="fa-solid fa-gears"></i>Change Password</a>
	<a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="item"><i class="fa-solid fa-right-to-bracket"></i>Logout</a>
	<div class="divider"></div>
</div> 

<div class="content">
<i onclick="toggleSidebar()" class="fas fa-bars m-3"></i>

<div class="container">
<div class="row">
	<div class="col-md-12">
	<div class="card">
	<div class="card-body">
		<h3 class="mb-3">Change Password</h3>
	
		<form th:action="@{/change_password}" method="post">
			<div class="form-group">
			<label for="oldpassword">Old Password</label>
			<input id="oldpassword" type="password" class="form-control" placeholder="Enter Old Password" name="oldPassword">
			</div>
			<div class="form-group">
			<label for="newpassword">New Password</label>
			<input id="newpassword" type="password" class="form-control" placeholder="Enter new Password" name="newPassword">
			</div>
			<div class="container text-center">
			<button type="submit" class="btn btn-success">Change</button>
			<button type="reset" class="btn btn-warning">Reset</button>
			</div>
		</form>
	</div>
	</div>
	</div>
</div>

</div>
</div>


</body>
</html>